# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
build/
main

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Env files
.env
.env.*
!.env.example

# IDE / OS specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.DS_Store?

# Fiber/Air hot reload temp directory
tmp/
